@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url(./bg_statement.css);

:root {
  --font-famlily: 'Karla', sans-serif;
  --accent-color: #12c0dd;
  --light-color: #fff;
  --border-radius: 10px;
  --width-line: 2px;
  --tr: 0.3s;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

body,
html {
  height: 100vh;
}

body {
  font-family: var(--font-famlily);
  /* background-color: aquamarine; */
  height: 100%;
}

input,
button {
  font-family: var(--font-famlily);
}

.weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.weather-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: -1;
}

.weather-bg > div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.weather-bg__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  opacity: 0;
  transition: var(--tr) ease-in-out;
}

.weather .weather-bg__img.bg {
  opacity: 1;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 1fr 100px 200px;
  gap: 20px;
  box-sizing: border-box;
}

.card {
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  padding: 20px 30px;
  box-sizing: border-box;
}

.weather-form {
  display: flex;
  align-items: stretch;
  gap: 20px;
}

.weather-form__input {
  flex-grow: 1;
  font-size: 20px;
  border: var(--width-line) solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: 10px 15px;
  box-sizing: border-box;
}

.weather-form__btn {
  flex-basis: 180px;
  font-size: 20px;
  /* background-color: rgba(var(--accent-color), 0.3); */
    background-color: var(--accent-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  /* transition: var(--tr) ease-in-out; */
}

.weather-form, .weather-loading, .weather-info {
  grid-column: 1/4;
}

.weather-loading {
  height: 87px;
  display: flex;
  align-items: center;
}

